@import "./variables.scss";



.chartsContainer{
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

@include breakpoint(xl){
  flex-direction: row;
  justify-content: space-around;
}

  &__voteCount{
    margin-top: 5rem;
    @include breakpoint(xl){
      margin-top: 0;
    }
  }
}